{% from "macros/_form.html" import render_form %}

{% set page_title = 'Flask-Starter Template for Python Flask Applications' %}

{% extends 'layouts/base.html' %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="mt-5">adStar</h3>
        <p class="lead">Make your ad shine like a star!</p>
        <button onclick="window.location.href='./hello.html'">
          Try it out
        </button>
      </div>
    </div>
  </div>
{% endblock %}